/* Media quires */
@media only screen and (min-width:1440px) {
   .burger {
      display: none;
   }
}
@media only screen and (max-width:1310px) {
   header,
   main,
   footer {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   }
   .burger {
      display: none;
   }
}
@media only screen and (max-width:1140px) {
   .header {
      padding: 0 20px;
   }
   .burger {
      display: none;
   }
}
@media only screen and (max-width:1130px) {
   .header {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px;
   }
   .logo {
      max-width: 106px;
      max-height: 47px;
      order: 2;
      flex: 2;
   }
   .burger {
      display: none;
   }
   .menu ul {
      display: flex;
      flex-direction: column;
      order: 2;
   }
   .menu {
      width: 500px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .main-block {
      max-width: 1000px;
      max-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
   }
   .main-block::before {
      content: "";
      background: url('../img/tire-bg.png'), url('../img/shadow.png');
      background-repeat: no-repeat;
      background-position: center, bottom;
      background-size: 800px;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.65;
      z-index: -1;
   }
   .hero-img {
      display: none;
   }
}


@media only screen and (max-width:992px) {
   header,
   main,
   footer {
   max-width: 970px;
   margin: 0 auto;
   padding: 0 20px;
   }
   .burger {
      display: none;
   }
   .aside-menu {
      min-width: 280px;
   }
   .card-block {
      max-width: 90%;
      display: flex;
   }
   .card-img {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
@media only screen and (max-width:950px) {
   .burger {
      display: none;
   }
   .phone {
      margin-right: 10px;
   }
   .card {
      width: 350px;
   }
}
@media only screen and (max-width:910px) {
   .burger {
      display: none;
   }
   .shop-section {
      flex-direction: column;
      max-width: 800px;
      margin: 0 auto;
   }
   .shop-list {
      width: unset;
      justify-content: space-between;
      gap: 1em;
   }
   .hero2-img {
      display: none;
   }
}
@media only screen and (max-width:835px) {
   .card {
      width: 100%;
   }
   /*.cards-block .card-img {
      width: 160px;
      height: 106px;
   }*/
}
@media only screen and (max-width:768px) {
   header,
   main,
   footer {
   max-width: unset;
   margin: 0 auto;
   }
   .burger {
      display: none;
   }
   .hero {
      width: 527px;
      

   }
   .hero-title {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
   }
   .hero-title h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 10px;
   }
   .card {
      width: 100%;
   }
   .footer-list {
      flex-direction: column;
   }
   .footer-text-column {
      width: unset;
   }
   .footer-contacts-column {
      width: unset;
   }
   .footer-social-item {
      justify-content: start;
   }
}
@media only screen and (max-width:612px) {
   .shop-list-card {
      width: 250px;
   }
   .hero2-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}
@media only screen and (max-width:550px) {
   header,
   main,
   footer {
   max-width: none;
   margin: 0 auto;
   } 
   .header {
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      height: unset;
   }
   .menu {
      width: unset;
   }
   .menu nav {
      display: none;
   }
   .burger {
      display: block;
   }
   .phone {
      display: none;
   }
   .service {
      width: 100%;
   }
   .service ul {
      width: 100%;
      justify-content: space-between;
   }
   .hero {
      width: 527px;
   }
   .hero-title {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
   }
   .hero-title h1 {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 10px;
   }
   .input {
      max-width: 414px;
      display: flex;
      position: relative;
      align-items: center;
   }
   .card {
      width: 100%;
   }
   .shop-list-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
   }
   .shop-card-info {
      width: 100%;
   }
   .card-block2 {
      gap: 1em;
   }
   .card-block2 .shop-list-card .shop-img {
      width: 50%;
   }
   .brand-item {
      width: 100%;
   }
}
@media only screen and (max-width:510px) {
   .hero {
      width: 350px;
   }
   .hero2 {
      width: 350px;
   }
  
   .input {
      max-width: 340px;
      display: flex;
      position: relative;
      align-items: center;
   }
   .hero2-title h3 {
      width: unset;
      height: unset;
   }
}

@media only screen and (max-width:380px) {
   .main-block {
      width: unset;
   }
   .hero {
      width: unset;
   }
   .input {
      width: 310px;
   }
}
@media only screen and (max-width:360px) {
   .main-block {
      width: unset;
   }
   .hero {
      width: unset;
   }
   .hero-title h1 {
      text-align: center;
   }
   .input {
      width: 296px;
   }
   .hero-title input {
      width: 297px;
   }
}



@media only screen and (max-width:320px) {
   header,
   main,
   footer {
   max-width: none;
   margin: 0 auto;
   } 
   .main-block {
      width: unset;
   }
   .hero {
      width: unset;
   }
   .hero-title h1 {
      text-align: center;
   }
   .input {
      width: 260px;
   }
   input[type=text] {
      padding-right: 76px;
      font-size: 12px;
      line-height: 13px;
   }
   .card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      padding-bottom: 10px;
   }
   .card-img {
      width: 100%;
      background: var(--bg-grey);
   }
   .title-left {
      font-size: 16px;
   }
   .title-right {
      font-size: 14px;
   }
   .footer-social-column {
      width: unset;
   }
}









